{% extends "base.html.twig" %}
{% block title %}
   Bienvenue sur le meilleur réseau d'appartements
{% endblock %}
{% block  body  %}
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-3 text-center">Bienvenu sur SymBNB !</h1>
            <p class="lead">Nous mettons en relation les voyageurs et les proprietaires qui veulent profiter des opportunités et ganger de l'argent en proposant leur bien à la location .</p>
            <hr class="my-4">
            <p>Vous êtes Voyageur ? Et vous voulez voir ou vous pouvez loger votre prochain déplacement ?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
        </div>
        <h2 class="h1 mt-3 mb-4">Nos apparetements stars</h2>
        <div class="row">
            <div class="col-md-4">
               <div class="card bg-light mb-3">
                   <div class="card-header text-center">
                      3 chambres , <strong>49 &euro; / nuit</strong><br>
                       <small>pas enore noté</small>
                   </div>
                   <img src="https://placehold.co/1000x400" alt="image de l'apprtement" style="height: 200px ;width: 100%;display: block;">
                   <div class="card-body">
                      <h4 class="card-title">
                          Appartement de Oueuf !
                      </h4>
                       <p class="card-text">
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                       </p>
                       <a href="" class="btn btn-secondary">En savoir plus !</a>
                   </div>
               </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres , <strong>49 &euro; / nuit</strong><br>
                        <small>pas enore noté</small>
                    </div>
                    <img src="https://placehold.co/1000x400" alt="image de l'apprtement" style="height: 200px ;width: 100%;display: block;">
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de Oueuf !
                        </h4>
                        <p class="card-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                        <a href="" class="btn btn-secondary">En savoir plus !</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres , <strong>49 &euro; / nuit</strong><br>
                        <small>pas enore noté</small>
                    </div>
                    <img src="https://placehold.co/1000x400" alt="image de l'apprtement" style="height: 200px ;width: 100%;display: block;">
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de Oueuf !
                        </h4>
                        <p class="card-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        </p>
                        <a href="" class="btn btn-secondary">En savoir plus !</a>
                    </div>
                </div>
            </div>

        </div>

        <h2 class="h1 mt-3 mb-4">Nos proprietaires stars</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            Lior chamla
                        </h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://placehold.co/64x64" alt="avatar de lior chamla" class="float-left mr-3">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus!</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            Lior chamla
                        </h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://placehold.co/64x64" alt="avatar de lior chamla" class="float-left mr-3">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus!</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}